.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 70px;
    font-family: Caivun_9;
    margin-left: 20px;
    color:#2F3C7E;
    text-decoration: none;
    margin-top: -50px;
    
}

.login-container{
    margin-top: 150px;
}
.text-login-center{
    text-decoration: none;
    box-shadow: 0;
    background-color: transparent;
    border-bottom: none;
    text-align: center;
    margin-top: 90px;
    font-size: 60px;
    font-family: Caivun_9;
}
.card{
    background-color: #f8dcbe;
    width: 80%;
    margin-left: 100px;
}

.login-text{
    margin-top: 10px;
    font-size: 20px;
}
.login-button{
    margin-top: -140px;
    margin-left: 20px;
    background-color: #2F3C7E;
}

.form{
    width: 400px;
    margin-left: 100px;
}

.not-registered{
    font-family: Karla;
    font-size: 25px;
    margin-left: 30px;
    display: inline-block;
    border-color:#2F3C7E;
    color: #2F3C7E;
}

.notregisteredPosition{
    margin-top:-90px;
}