@import '../assets/Fonts.css';


.custom-navbar {
    height: 100px;  /* Adjust the height as needed */
    background-color:#f8dcbe;
  }
  

/* .yellow-background {
    background: #FCEDDA;
    background: (217, 217, 217, 0.04);
} */

.logo-div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height:30px; 
    font-size: 50px;
    font-family: Caivun_9;
    margin-left: 20px;
    margin-top:50px;
    color:#2F3C7E;
    text-decoration: none;
}


/* This includes the sign up and Internship*/
.nav-right-side-component {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Internship */
.text-style {
    color: #2F3C7E;
    text-align: center;
    font-family: Karla;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    margin:3vh;
    text-decoration: none;
    transition: text-decoration 0.3s; 
}
.text-style:hover {
    text-decoration: underline;
}

.text-style:visited{
    color: #2F3C7E;
}

/*Sign Up Box */
.signup-box-style {
    text-decoration: none;
    width: auto  ;
    box-sizing: border-box;
    border-radius: 8px;
    border: 2px solid var(--Blue, #2F3C7E);
    color: #2F3C7E;
    text-align: center;
    font-family: Karla;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    margin:1vh;
    padding: 3vh;
    /* text-decoration: none; */
    
}
.signup-box-style:hover {
    background-color: var(--Blue, #2F3C7E);
    color: white;
}