.logo-signup{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    /*Fonts */
    font-size: 30vh;
    font-family: Caivun_9;
    color:#2F3C7E;
    text-decoration: none;
    font-size: 80px;
}

.signup-container {
    margin-top: 30vh;
    width: 40%; /* Adjust width as needed */
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto; 
}

@media screen and (max-width: 800px) {
    .signup-container {
        width: 90%; /* Adjust width for smaller screens */
        min-width: unset; /* Remove min-width */
    }
}

.text-signup-center{
    text-decoration: none;
    box-shadow: 0;
    background-color: transparent;
    border-bottom: none; 
    text-align: center; 
}

.card{
    background-color: #f8dcbe;
}

 .signup-button{
    width: 50%;
    background-color: #2F3C7E;
}

.centered-div {
    margin: 0 auto; 
    text-align: center; 
}

.signup-text{
    text-align: center;
}

.form{
    display: flex;
    align-items: center;
    justify-content: center;
}

.have-account{
    font-family: Karla;
    text-align: center;
    border-color:#2F3C7E;
    color: #2F3C7E;
    margin-top: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.have-account-pos{
    margin-top:-90px;
}