
.logo-signup{
    font-size: larger;
    font: Caivun_9;
    color:#2F3C7E;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    font-size: 10vh;
    font-family: Caivun_9;
    color:#2F3C7E;
    text-decoration: none;
}


.signup-container{
    margin-top: 10%;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh; /* Adjust the height as needed */
}
.text-signup-center{
    text-decoration: none;
    box-shadow: 0;
    background-color: transparent;
    border-bottom: none;
    margin: 0 auto; /* This will center the div horizontally */
    
    text-align: center; 
  
}
.card{
    background-color: #f8dcbe;
    width: 80%;
    margin-left: 100px;
}

.signup-text{

    font-size: 20px;
}
.signup-button{
    width: 50%;
    background-color: #2F3C7E;
}

.centered-div {
    margin: 0 auto; /* This will center the div horizontally */
    text-align: center; /* This will center the text inside the div */
}

.form{
    display: flex;
    align-items: center;
    justify-content: center;
}

.have-account{
    font-family: Karla;
   
    text-align: center;
    border-color:#2F3C7E;
    color: #2F3C7E;
    margin-top: 2%;
    /*center */
    display: flex;
    justify-content: center;
    align-items: center;
}

.have-account-pos{
    margin-top:-90px;
}